/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Lato);

// // abstracts
@import './assets/styles/abstracts/mixins';
@import './assets/styles/abstracts/variables';
// // base
@import './assets/styles/base/typography';
// // components

body {
    background-color: $grey;
    font-size: 18px;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

select {
    padding: 6px 0;
}